<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página registro</title>
    <link rel="stylesheet" href="css/estilosRegistrosVentanaAlert.css" />
  </head>

  <body class="">
    <header class="hero">
      <div class="navbar">
        <div><h2 class="nav__logo">ChacrasApp</h2></div>
        <div class="nav-links">
          <div class="nav-header">
            <!-- responsive navbar toggle button -->
            <input type="checkbox" id="nav-check" />
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            <!-- Navbar items -->

            <a href="index.html">Inicio</a>
            <a href="#sobremi">Nosotros</a>
            <!-- Dropdown menu -->
            <div class="dropdown">
              <a class="dropBtn" href="#Acerca"
                >Servicios
                <i class="fas fa-angle-down"></i>
              </a>
              <!--<div class="drop-content">
                    <a href="#">Electricista</a>
                    <a href="#">Gasista</a>
                    <a href="#">Plomería</a>
                  </div>-->
            </div>
            <a href="#contacto">Contacto</a>
          </div>
        </div>
      </div>
    </header>

    <div class="modo" id="modo">
      <i class="fas fa-toggle-on"></i>
    </div>

    <section class="card">
     
      </div>
      <div class="card__perfil">
        <div class="card__nombre">
          <img src="images/trabajos.png" alt="" />
          <h2>Proveedor</h2>
        </div>
        <hr />
        <div class="card__descripcion">
          <p>
            Por favor inicia sesión o registrate para poder ingresar a la
            página, si no estaras navegando como invitado y no podras acceder al
            perfil del proveedor.
          </p>
        </div>
        <hr />
        <div class="card__button">
          <a class="enlace" href="RegistroProveedor.html">Ingresar</a>
        </div>
        <br />
      </div>
      <div class="card__perfil">
        <div class="card__nombre">
          <img src="images/usuarios.jpg" alt="" />
          <h2>Usuario</h2>
        </div>
        <hr />
        <div class="card__descripcion">
          <p>
            Por favor inicia sesión o registrate para poder ingresar a la
            página, si no estaras navegando como invitado y no podras acceder a
            todos los servicios.
          </p>
        </div>
        <hr />
        <div class="card__button">
          <a class="enlace" href="registroUsuario.html">Ingresar</a>
        </div>
      </div>
    </section>
    <div></div>
    <footer>
      <section id="contacto" class="footer__copy container">
        <div class="footer__social">
          <a href="#" class="footer__icons"
            ><img src="./images/facebook.svg" class="footer__img"
          /></a>
          <a href="#" class="footer__icons"
            ><img src="./images/twitter.svg" class="footer__img"
          /></a>
          <a href="#" class="footer__icons"
            ><img src="./images/youtube.svg" class="footer__img"
          /></a>
        </div>

        <h3 class="footer__copyright">Derechos reservados &copy; Grupo B</h3>
      </section>
    </footer>
  </body>
</html>
